@charset "UTF-8";

body{
    background-color: black;
    margin: 0;
}

#container{
    background-image: url('imagens/espaco.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
}

#conteudo{
    background-image: url('imagens/astronauta.png');
    background-size: 100% 100%;
    position: absolute;
    width: 500px;
    height: 508px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}