@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #FBE2D0, #D4B99E);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #574c4197;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #507993;
    text-align: center;
    text-shadow: 1px 1px 2px #314a5abd;
}

h2{
    color: #76A6B4;
}

p{
    text-align: justify;
}