@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px;
}

header > h1{
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header > p, footer{
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main > p{
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}

#segunda-estrofe{
    background-image: url('imagens/background001.jpg');
}

#quinta-estrofe{
    background-image: url('imagens/background002.jpg');
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}